# Ignore data
*.csv
data/train_frames/
*.npy
*.pth
# Ignore model checkpoints
model/checkpoints/*

# Ignore Python cache directories
__pycache__

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
